*{
    margin: 0;
    padding: 0;
}
.DMR{
    margin: 0 auto;

    width: 85%;
    display: flex;
    justify-content: space-between;
}
.Container{
    background-color: rgb(250, 241, 231);
}
/* HTML: <div class="loader"></div> */
/* .loaderContainer{
    position: relative;
} */

/* HTML: <div class="loader"></div> */

.error{
 
  /* background-color: #f03355; */



}
.error-heading{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 2px solid black;
  padding: 2vh;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
  color:red
}
.creator{
  position: absolute;
  bottom:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 2px solid black;
  padding: 1vh;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
  color: rgb(100, 23, 217);
 
}
.error-heading:hover{
  box-shadow: 1vh 1vh rgb(255, 102, 102);
  /* background-color: rgb(255, 102, 102); */
  color: black;
} 

/* .loader {
  width: 40px;
  aspect-ratio: 1;
  position: relative;
margin: 50vh auto;
transform: translate(0,-50%);
  scale: 2;
} */
/* HTML: <div class="loader"></div> */
.loader {
  position: relative;
  width: 50px;
  /* transform: translate(0,-50%); */
  scale: 2;

  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 2s infinite linear;
  margin: 50vh auto;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader::before {
  border-color: #f03355 #0000;
  animation: inherit; 
  animation-duration: 1s;
  animation-direction: reverse;
}
.loader::after {
  margin: 8px;
}
@keyframes l16 { 
  100%{transform: rotate(1turn)}
}



/* HTML: <div class="loader"></div> */
.loader2 {
  position: relative;
  width: 50px;
  /* transform: translate(0,-50%); */
  scale: 2;

  aspect-ratio: 1;
  display: grid;
  /* border: 4px solid #0000;
  border-radius: 50%; */
  /* border-color: #ccc #0000; */
  /* animation: l16 2s infinite linear; */
  margin: 50vh auto;
}
.loader2 {
  width: 60px;
  height: 50px;
  --m:no-repeat linear-gradient(90deg,#000 70%,#0000 0);
  -webkit-mask: 
    var(--m) calc(0*100%/4) 100%/calc(100%/5) calc(1*100%/5),
    var(--m) calc(1*100%/4) 100%/calc(100%/5) calc(2*100%/5),
    var(--m) calc(2*100%/4) 100%/calc(100%/5) calc(3*100%/5),
    var(--m) calc(3*100%/4) 100%/calc(100%/5) calc(4*100%/5),
    var(--m) calc(4*100%/4) 100%/calc(100%/5) calc(5*100%/5);
  background: linear-gradient(#f54747 0 0) left/0% 100% no-repeat #ddd;
  animation: l14 2s infinite steps(6);
}
@keyframes l14 {
  50% {background-size: 120% 100%}
}